{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Quick Start" {:file "src/tiltontec/example/quick_start/README.md"}]
                   ["Into the Weeds" {:file "doc/intro-clock.md"}]
                   ["In a Nutshell" {:file "doc/intro-counter.md"}]]}