/* style */
body {
	color: black;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 6px;
  gap: 1em
}

.pushbutton {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}