div, h1, input {
    font-family: HelveticaNeue, Helvetica;
    color: #777;
}
code {
    font-family: 'Source Code Pro';
    font-size: 18px;
    color: black;
}
.intro {
    margin: 6px;
    display:         flex;
    flex-direction: column;
    align-items:     center;
    justify-content: center;
    gap: 1em;
}
@font-face{
 font-family:'digital-clock-font';
 src: url('../font/digital-7 (mono italic).ttf');
}
.intro-clock {
    font-size: 128px;
    line-height: 1.2em;
    font-family: digital-clock-font, HelveticaNeue-UltraLight, Helvetica;
    padding: 8px;
    color: cyan;
    background: #222;
}