div, h1, input {
    font-family: HelveticaNeue, Helvetica;
    color: #777;
}
.ticktock {
    margin:  24px;
    display:         flex;
    flex-direction: column;
    align-items:     center;
    justify-content: center;
    padding: 1em;
}
.example-clock {
    font-size: 128px;
    line-height: 1.2em;
    font-family: HelveticaNeue-UltraLight, Helvetica;
}
@media (max-width: 768px) {
    .example-clock {
        font-size: 64px;
    }
}

.color-input, .color-input input {
    font-size: 24px;
    line-height: 1.5em;
    padding: 3px;
    display: flex;
    align-items: left;
    justify-content: center;
    background: white;
}
/*
:width "100%"
                            :padding "0px 6px"
                            :max-width "96px"
                            :font-size "24px"
                            :border :solid
                            :border-width :thin
*/

.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}